.booking-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > form {
        margin: 0 auto;
        width: 600px;
        display: grid;
        justify-content: center;
    }
}

.res-date-label,
.res-time-label,
.guests-label,
.occasion-label {
    font-weight: 500;
    margin-bottom: 4px;
}

#res-date,
#guests,
#occasion,
.time-options {
    margin-bottom: 16px;
    padding: 10px 6px;
    width: 320px;
    &:focus {
        outline: none;
    }
}

.res-time-label {
}

.time-options {
    > option {
        padding: 10px 6px;
    }
}

#guests {
    margin-bottom: 16px;
}

.guests-label {
}

#occasion {
    margin-bottom: 16px;
}

.occasion-label {
}

.order-btn {
    margin: 10px auto;
    min-width: 200px;
    padding: 8px 30px;
    background-color: #f4ce14;
    border: none;
    border-radius: 6px;
    outline: none;
    &:hover {
        cursor: pointer;
        background-color: #cdb01e;
    }
}
